*.gem
.bundle
.jekyll-cache
.jekyll-metadata
.sass-cache
_site
Gemfile.lock
.DS_Store
index-old.html
resume - Copy*.html
coverletter-academic-*.html
Lye-Heng-Foo-CoverLetter-*.pdf
Lye-Heng-Foo-Resume-*.pdf
Foo-Lye-Heng-Resume-*.docx
Foo-Lye-Heng-Resume-*.pdf
